.raise-the-rays-bkg {
    background-image: url('../assets/images/toRaiseTheRays/Title_Day.png');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.raise-the-rays-bkg::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgb(48, 48, 48), black);
    opacity: 0.8;
}

/** Container styling */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(240, 235, 235);
    color: black;
    font-family: 'Poppins';
}

main {
    flex-grow: 1;
}

footer {
    margin-top: 2em;
}

.container {
    padding: 1em;
}

#intro {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    z-index: 2;
}

#intro-text {
    z-index: 2;
}

.sub-container {
    display: flex;
    flex-direction: row;
    padding: 3em 4em;
    gap: 2em;
    display: flex;
    align-items: center;
    text-align: left !important;
    background-color: rgb(205, 205, 205);
    z-index: 2;
}

#featured {
    gap: 2em;
    height: 550px;
}

#projects {
    margin-top: 16px;
}

#about {
    gap: 2em;
    text-align: start;
}

#skills {
    border: 1px black solid; 
    border-radius: 5px; 
    width: 75%; 
    justify-self: center;
    margin-top: 2em;
}

.links {
    display: flex;
    gap: 1em;
}

ul {
    padding-left: 1em;
    line-height: 2;
    list-style: none;
}

/** Layout styling */
.d-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.text-center {
    text-align: center;
}

/** Text element styling */
h1 {
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    margin: 10px;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 0;
}

.smaller-h2 {
    margin: 0;
    font-size: 24px;
    margin-bottom: 10px;
    background-color: rgb(120, 0, 0);
    color: rgb(220, 220, 220);
    padding: 10px;
}

.subheader {
    font-size: 24px;
    text-align: center;
    font-weight: semi-bold;
}

p {
    font-size: 18px;
}

a {
    align-self: center;
}

/** Tapered horizontal lines  */
.fade-line-white {
    border: 0;
    height: 2px;
    opacity: 1;
    background-image: linear-gradient(to right, transparent, rgba(255, 255, 2555, 0.75), transparent);
}

.fade-line-black {
    border: 0;
    height: 2px;
    opacity: 1;
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.75), transparent);
}

/** Image element styling */
.rounded-img {
    border-radius: 50%;
    width: 200px;
    border: 1px darkgray solid;
}

.full-size-img {
    width: 250px;
    margin-bottom: 1em;
}

/** Button link styling */
.red-btn {
    display: inline-block;
    background-color: rgb(140, 0, 0);
    color: rgb(220, 220, 220);
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
}
    .red-btn:hover {
        background-color: rgb(120, 0, 0);
        color: white;
    }

/** Alters the appearance of elements for a mobile view */
@media (max-width: 770px) {
    h1 { font-size: 36px; }
    h2 { font-size: 30px; }
    .smaller-h2 { font-size: 22px; }
    .sub-container { flex-direction: column;  gap: 1em; }
    .d-flex-row { flex-direction: column; align-items: center; }
    .links { justify-content: center; margin-top: 25px; }
    #skills { width: 95%; }
    #featured { padding: 250px 0; }
}

/** Creates a float in animation from the bottom to the top */
@keyframes floatIn {
    0% {
        transform: translateY(25px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}