/** Style major body tags */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(129, 120, 120);
    color: black;
    font-family: 'Poppins';
}

main {
    flex: 1;
}

footer {
    margin-top: 2em;
}

/** Creates a float in animation from the bottom to the top */
@keyframes floatIn {
    0% {
        transform: translateY(25px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/** Create a padded container with centered content */
.container-fluid {
    padding: 1em;
    text-align: center;
}

.center-items {
    justify-content: center;
    gap: 15px;
}

/** Style heading tags */
h1 {
    text-align: center;
    font-weight: bold;
}

h2 {
    text-align: center;

}

h4 {
    text-align: center;
    font-weight: semi-bold;
}

/** Sets text aligned to the center */
.text-center {
    text-align: center;
}

/** Styles the email link */
.email {
    text-decoration: none;
    color: black;
}
    .email:hover {
        color: blue;
    }

/** Create a tapered horizontal line */
.fade-line {
    border: 0;
    height: 2px;
    opacity: 1;
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.75), transparent);
}

/** Styles the socials icons */
path {
    color: lightgray;
}
    .social:hover path {
        color: white;
    }
    path a {
        text-decoration: none;
    }

/** Adds the floatIn animation to a tag */
.floatIn {
    animation: floatIn 0.8s ease-out forwards;
}

.intro {
    padding: 50px 25px;
    justify-content: center;
    align-items: center;
}