/** Style major body tags */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: lightgray;
    color: black;
    font-family: 'Poppins';
}

main {
    flex: 1;
}

footer {
    margin-top: 2em;
}

/** Creates a float in animation from the bottom to the top */
@keyframes floatIn {
    0% {
        transform: translateY(25px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.raise-the-rays-bkg {
    background-image: url('../assets/images/toRaiseTheRays/Title_Day.png');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.raise-the-rays-bkg::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgb(48, 48, 48), black);
    opacity: 0.8;
}

/** Create a padded container with centered content */
.container-fluid {
    padding: 1em;
    text-align: center;
}

.intro {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    z-index: 2;
}

.center-items {
    justify-content: center;
    gap: 2em;
}

/** Style heading tags */
h1 {
    text-align: center;
    font-weight: bold;
    font-size: 48px;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-top: 1em;
}

.subheader {
    font-size: 24px;
    text-align: center;
    font-weight: semi-bold;
}

.content p {
    font-size: 14px;
}

/** Sets text aligned to the center */
.text-center {
    text-align: center;
}

/** Styles the email link */
.email {
    text-decoration: none;
    color: black;
}
    .email:hover {
        color: blue;
    }

/** Create a tapered horizontal line */
.fade-line-white {
    border: 0;
    height: 2px;
    opacity: 1;
    background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.75), transparent);
}

.fade-line-black {
    border: 0;
    height: 2px;
    opacity: 1;
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.75), transparent);
}

/** Styles the socials icons */
path {
    color: lightgray;
}
    .social:hover path {
        color: white;
    }
    path a {
        text-decoration: none;
    }

/** Adds the floatIn animation to a tag */
.floatIn {
    animation: floatIn 0.8s ease-out forwards;
}

.rounded-img {
    width: 200px;
    clip-path: circle();
}

.sub-container {
    display: flex;
    flex-direction: row;
    padding: 3em 4em;
    gap: 2em;
    display: flex;
    align-items: center;
    text-align: left !important;
    background-color: darkgray;
    z-index: 2;
}

.shadow-box-content {
    z-index: 2;
}

.btn {
    background-color: darkred;
    color: lightgray;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
    margin-bottom: 15px;
}
    .btn:hover {
        background-color: rgb(106, 0, 0);
        color: white;
    }

[slot="preview-img"] {
    border-radius: 0 0 5px 5px;
}

@media (max-width: 768px) {
    .sub-container{ flex-direction: column;}
    .center-items{flex-direction: column;}
    [slot="preview-img"] { width: 340px; }
}