/** Private styles for the foot-note element */

/** Styles the overall footnote container */
.footnotes {
    display: flex;
    justify-content: space-between;
    background-color: rgb(20, 0, 0);
    padding: 15px 45px;
    align-items: center;
    text-align: left;
    color: rgb(220, 220, 220);
    z-index: 2;
}

/** Styles heading 2 only within the footnote element */
.footnotes h2 {
    font-weight: bold;
    text-align: left;
    font-size: 24px;
    margin-bottom: 5px;
}

/** Styles the email link */
.email {
    text-decoration: none;
    color: rgb(220, 220, 220);
}
    .email:hover {
        color: white;
    }

.footnotes p {
    font-size: 14px;
    margin: 0;
}

/** Styles the socials icons */
path {
    color: rgb(220, 220, 220);
}
    path a {
        text-decoration: none;
    }
    path:hover {
        color: white;
    }