/** Private styles for the feature-box element */

.feature { 
    background-color: darkgray;
    border-radius: 5px;
    box-shadow: inset;
    width: 350px;
    height: fit-content;
    justify-content: center;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
    .feature:hover {
        transform: scale(1.03);
        box-shadow: 0 4px 12px rgba(0,0,0,0.25);
        transition: all 0.2s ease-in-out;
    }

.content {
    padding: 10px 25px;
    padding-bottom: 0;
}

h3 {
    text-align: center;
    font-size: 24px;
    margin: 0;
    padding-top: 15px;
}

@media(max-width: 450px) {
    .feature { width: 340px; }
}