/** Private CSS styles for the nav-bar element */

/** Style the overall navigation bar */
.custom-nav {
    background-color: black;
    align-items: center;
    border-bottom: 2px black solid;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
    padding: 5px 1em;
    z-index: 2;
}

/** Sends all nav-links to the end of the navbar */
.navbar-collapse {
    justify-content: end;
}

/** Styles pills containing the nav-links */
.nav-item {
    font-weight: normal;
    transition: transform 0.2s ease, font-weight 0.2s ease; 
}
    .nav-item:hover, .nav-item:active, .nav-item:focus {
        font-weight: bold;
        transform: scale(1.02);
    }

/** Styles the navigation links */
.nav-link {
    color: lightgray;
}
    .nav-link:hover {
        color: rgb(186, 0, 0);
    }
    .nav-link.active {
        color: rgb(147, 25, 25) !important;
        opacity: 0.8;
        font-weight: bold;
        text-decoration: underline;
        text-underline-offset: 6px;
    }

/** Styles the portfolio's title name in the nav-bar */
.navbar-brand {
    padding-right: 45px;
    color: lightgray;
    font-weight: bold;
    transition: color 0.2s ease;
}

/** Changes nav-bar display settings for mobile screen */
@media(max-width: 990px) {
    .custom-nav { gap: 0; align-items: start; }
    .nav-item:hover { transform: scale(1.01); }
    .navbar-collapse { justify-content: start; padding-top: 6px; }
}